@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Yellowtail&display=swap');

body {
    background-color: #D9D7DD;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}
/* header */
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #004E64;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #D9D7DD;
    text-decoration: none;
    font-family: "Open Sans", "Arial", sans-serif;
    padding: 35px;
}

nav a:hover {
    background-color: #D9D7DD;
    color: #004E64;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 80px;
    height: auto;
}
/* main pager*/

.home-grid {
    display: grid;
}

main section {
    text-align: center;
}

.title h1 {
    font-size: 3em;
    font-family: 'Yellowtail', 'Brush-Script-MT', 'cursive';
}

.title h3 {
    font-size: 1.5em;
    font-family: 'Yellowtail', 'Brush-Script-MT', 'cursive';
}

.card-img {
    max-width: 500px;
    width: 500px;
    height: auto;
    border: solid #004E64 10px;
    box-shadow: 5px 5px 10px #555;
}

.card-img {
    margin: 50px 0;
}

.river1 img {
    grid-column: 1, 4;
    grid-row: 1, 4;
}

.river2 img {
    grid-column: 1, 4;
    grid-row: 4, 7;
}

.river3 img {
    grid-column: 1, 4;
    grid-row: 7, 10;
}

.home-grid h2 {
    font-family: 'Yellowtail', 'Brush-Script-MT', 'cursive';
    font-size: 2em;
}

.home-grid p {
    font-family: "Open Sans", "Arial", sans-serif;
    grid-column: 5, 10;
}

main section p {
    align-content: center;
    padding-left: 350px;
    padding-right: 350px;
    padding-bottom: 25px;
    line-height: 1.5em;
}
/* footer */

 footer {
    background-color: #004E64;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    color: #D9D7DD;
    font-family: "Open Sans", "Arial", sans-serif;
}

footer a {
    color: #D9D7DD;
    text-decoration: none;
    font-family: "Open Sans", "Arial", sans-serif;
}

footer a:hover{
    color: #D9D7DD;
}

footer h3 a:hover{
    text-decoration: underline;
}

.social img{
    width: 80px;
    padding-top: 15px;
}