@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Yellowtail&display=swap');

body{
    background-color: #D9D7DD;
    margin: 0;
    padding: 0;
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #004E64;
}

nav{
    display: flex;
    justify-content: space-around;
}

#hero{
    display: grid;
}

#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    margin-top: -100px;
    z-index: -1;
}

#hero-img{
    object-fit: fill;
    display: block;
    max-width: 100%;
    width: 100%;
    z-index: -1;
    margin-top: -200px
}

#hero-msg{
    grid-row: 1/2;
    z-index: 0;
    margin-top: 50px;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    color: #D9D7DD;
    text-decoration: none;
    font-family: "Open Sans", "Arial", sans-serif;
    padding: 35px;
}

nav a:hover{
    background-color: #D9D7DD;
    color: #004E64;
}

#hero-msg h1{
    text-align: center;
    color: #D9D7DD;
}

#hero-msg h4{
    text-align: center;
    color: #D9D7DD;
}

.button-box{
    text-align: center;
    font-family: "Open Sans", "Arial", sans-serif;
}

main section{
    text-align: center;
}

#background{
    height: 725px;
    background-color: #06908F;
    grid-column: 1/11;
    grid-row: 4/9;
}

.book, .join{
    background-color: #06908F;
    color: #D9D7DD;
    text-decoration: none;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: #D9D7DD;
    color: #06908F;
}

.msg {
    background-color: #004E64;
    line-height: 1.5em;
    font-family: "Open Sans", "Arial", sans-serif;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #555;
}

footer{
    background-color: #004E64;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-title{
    color: black;
    font-family: 'Yellowtail', 'Brush-Script-MT', 'cursive';
    font-size: 2em;
    margin-top: 10px;
}

h4{
    color: black;
    font-family: "Open Sans", "Arial", sans-serif;
}

.msg h2{
    color: #D9D7DD;
    font-family: "Open Sans", "Arial", sans-serif;
}

h2 {
    font-family: "Open Sans", "Arial", sans-serif;
    margin: 0;
}

.msg p{
    color: #D9D7DD;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}

footer h3{
    color: #D9D7DD;
    font-family: "Open Sans", "Arial", sans-serif;
}

footer a{
    color: #D9D7DD;
    text-decoration: none;
    font-family: "Open Sans", "Arial", sans-serif;
}

footer a:hover{
    color: #D9D7DD;
}

.logo{
    width: 80px;
    height: auto;
}

.icon{
    width: 80px;
    height: auto;
    padding-top: 10px;
}

footer h3 a:hover{
    text-decoration: underline;
}

.card-img{
    max-width: 600px;
    width: 600px;
    height: auto;
    border: solid #004E64 10px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #555;
}

.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}

.social img{
    width: 80px;
    padding-top: 15px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}

main section img {
    box-sizing: border-box;
}

.card-img, .mountains{
    width: 100%;
}

.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #555;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
        color: black;
    }
    #hero-msg h1 {
        color: black;
    }
    #hero-msg h4 {
        display: none;
        color: #06908F;
    }
    #hero-img {
        margin-top: 0px;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}