.home-grid {
    display: grid;
    grid-template-columns: 100px, 100px, 100px;
}

body {
    background-color: black;
}

#content {
    background-color: white;
    max-width: 300px;
    margin: 0, auto;
    border-radius: 10px;
    overflow: hidden;
}

.small_logo {
    font-size: 1em;
    color: blue;

}

footer {
    background-color:cornflowerblue;
    color: white;
}